* {
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#intro, #highScoresTable {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#intro h1 {
    text-align: center;
    font-size: 36px;
}

#intro p {
    font-size: 16px;
    text-align: center;
}

#intro button {
    color: white;
    background-color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
}

#questions button, #goBackBtn button, #clearHighScoreBtn button {
    color: white;
    background-color: darkslateblue;
    border-radius: 15px;
    margin-right: 10px;
}

#intro button:active, #intro button:focus, #questions button:active, #questions button:focus, #goBackBtn button:active, #goBackBtn button:focus, #clearHighScoreBtn button:focus {
    background-color: deeppink;
}

.hide {
    display: none;
}

#correct, #wrong {
    margin-top: 30px;
    border-top: 2px solid grey;
    padding-top: 7px;
    font-weight: bold;
    font-style: italic;
}

#swapBlock, #swapBlock2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#questions ul li {
    list-style-type: none;
}

#questions ul li button, #gameover button, #highScoresTable button {
    color: white;
    background-color: darkslateblue;
    border-radius: 15px;
    margin: 0 0 5px 5px;
}